.menurightalign {
    float: right;
    text-align: right;
    padding-right: 20px;
}

.bannerformat {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-color-01 {
    background-color: #434C5E;
}

.bg-color-02 {
    background-color: #D8DEE9;
}

.paragraph-format {
    text-indent: 25pt;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    word-wrap: normal;
}