@font-face {
    font-family: "ITC Avant Garde Gothic Std";
    src: url(/static/ITCAvantGardeStd-BkCnObl.otf) format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #2E3440;
}

::-webkit-scrollbar-thumb {
    background: #eceff48a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ECEFF4;
}

.bannerformat {
    font-family: Arial, Helvetica, sans-serif;
}

.brand-font {
    font-family: "ITC Avant Garde Gothic Std", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.nav-item {
    font-weight: 550;
}

.nav-logo {
    filter: invert(100%);
}

.container {
    margin-top: 40px;
}

.wrapper {
    margin-top: 20px;
}

.container > h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    text-align: center;    
}

.chart-heading {
    font-family: 'Questrial', sans-serif;
    color: #023047;
    font-size: 24px;
    text-align: center;
}

.chart-container {
    margin-top: 20px;
    min-width: 500px;
}

.finances {
    margin-top: 30px;
}

.chart-btns {
    margin-top: 30px;
}