{% extends 'layout.html' %} {% block body %}
<div class="container d-flex flex-wrap flex-column mt-4">
    <h1 name="welcome">Welcome back, {{ username }}</h1>
    <div class="mt-2">
        <h2 class="chart-heading">
            Here is your Financial Summary as of {{ date }}
        </h2>
        <div
            class="finances d-flex flex-column flex-md-row justify-content-center mt-2"
            id="finances"
        >
            <div class="chart-container mt-1">
                <canvas class="my-chart"></canvas>
            </div>
            <div
                class="grid row-gap-3 d-flex flex-column justify-content-evenly mt-4"
            >
                <button
                    class="btn btn-outline-primary"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#log-entry-modal"
                >
                    Log A New Entry
                </button>

                <div
                    class="modal"
                    id="log-entry-modal"
                    tabindex="-1"
                    aria-labelledby="test-label"
                    aria-hidden="true"
                >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="test-label">
                                    Log A New Entry
                                </h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <form
                                    id="entry-form"
                                    method="post"
                                    action="{{ url_for('dashboard') }}"
                                >
                                    <input
                                        type="hidden"
                                        name="csrf_token"
                                        value="{{ csrf_token() }}"
                                    />
                                    <div class="grid row-cols-1 row-gap-3">
                                        <label for="category-select"
                                            >Transaction Type:</label
                                        >
                                        <select
                                            name="category-select"
                                            id="category-select"
                                        >
                                            <!-- category -->
                                            <option
                                                class="disabled"
                                                hidden
                                            ></option>
                                            <option value="purchase">
                                                I bought or spent on something
                                            </option>
                                            <option value="sell">
                                                I sold something
                                            </option>
                                            <option value="income">
                                                I earned some money
                                            </option>
                                            <option value="invest">
                                                I invested in some
                                                stocks/bonds/etc
                                            </option>
                                            <option value="debt">
                                                I took out a loan
                                            </option>
                                        </select>
                                        <div
                                            class="grid row-cols-1 row-gap-3"
                                            id="second-select-container"
                                            style="display: none"
                                        >
                                            <label for="second-select"
                                                >Select Transaction:</label
                                            >
                                            <select
                                                name="second-select"
                                                id="second-select"
                                            >
                                                <!-- transactions -->
                                            </select>
                                        </div>
                                        <div
                                            class="grid row-cols-1 row-gap-3"
                                            id="transact-amount-container"
                                            style="display: none"
                                        >
                                            <label for="transact-amount"
                                                >Amount:</label
                                            >
                                            <input
                                                type="number"
                                                name="transact-amount"
                                                id="transact-amount"
                                            />
                                        </div>
                                        <div
                                            id="save-success"
                                            class="text-center bg-primary-subtle"
                                            style="display: none"
                                        >
                                            Save successful! Closing window.
                                        </div>
                                        <div
                                            id="save-error"
                                            class="text-center bg-danger"
                                            style="display: none"
                                        >
                                            Save error!
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                        >
                                            Save changes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <button
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target=""
                    type="button"
                >
                    View Table Breakdown
                </button>

                <div
                    class="modal"
                    id="table-modal"
                    tabindex="-1"
                    aria-labelledby="test-label-2"
                    aria-hidden="true"
                >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="test-label-2">
                                    Table Breakdown
                                </h5>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body"></div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-outline-primary" type="button">
                    Create A Goal
                </button>
                <button class="btn btn-outline-primary" type="button" disabled>
                    Get Insights
                </button>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h2 class="chart-heading">Your Month-on-Month Financial Activity</h2>
        <div
            class="d-flex flex-column flex-md-row justify-content-center mt-2"
            id="finances"
        >
            <div class="chart-container mt-1">
                <canvas class="my-graph-chart"></canvas>
            </div>
            <div
                class="grid row-gap-3 d-flex flex-column justify-content-evenly mt-4"
            >
                <button class="btn btn-outline-primary" type="button">
                    Generate YTD Financials
                </button>
                <button class="btn btn-outline-primary" type="button">
                    View Monthly Breakdown
                </button>
                <button class="btn btn-outline-primary" type="button" disabled>
                    Generate Forecast
                </button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% endblock %}
</div>
