<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Track and cateogrize your personal finances using our cross-platform personal finance app! Reimagine the way you assess your spending habits and improve your budgeting skills. Our app also features secure credit card linking to automatically log and monitor all purchases made with your card."
    />
    <title>Spend It Smart - Be A Smart Spender</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body class="bg-color-02">
    <nav
      class="navbar navbar-expand-lg navbar-light justify-content-between bg-color-01"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="spenditsmartlogo.PNG"
            alt="Spend It Smart Logo"
            width="75px"
            object-fit="cover"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse menurightalign"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-link active text-white" aria-current="page" href="#"
              >Home</a
            >
            <a class="nav-link text-white" href="#">Features</a>
            <a class="nav-link text-white" href="#">Premium</a>
            <a class="nav-link text-white" href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </nav>
    <h1 class="text-center fw-bolder bannerformat">
      Welcome to Spend It Smart
    </h1>
    <div class="paragraph-format">
      Become a smarter spender with our amazing personal finance app. You can
      track and cateogrize your spending across different platforms and generate
      reports and insights so you can strategize the way you utilize your
      hard-earned income.
    </div>
    <div class="paragraph-format">
      Reimagine the way you assess your spending habits and improve your
      budgeting skills. The app also features secure credit card linking to
      automatically log and monitor all purchases made with your card.
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
